{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Indian Languages
        </title>
        <meta charset="utf-8" />
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="homeContainer">
            <div class="homeContainerInner">
                <h1>
                    Indian Languages
                </h1>
                <!-- <img src="{{ MEDIA_URL }}/1600x960_1014218-indian-languages.jpeg" /> -->
             </div>
            <div class="homeContainerInner">
                <ul>
                    <li>
                        தமிழ்
                    </li>
                    <li>
                        മലയാളം
                    </li>
                    <li>
                        ಕನ್ನಡ
                    </li>
                    <li>
                        తెలుగు
                    </li>
                    <li>
                        हिन्दी
                    </li>
                    <li>
                        ଓଡ଼ିଆ
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>