{% extends "common.html" %}
{% block content %}
    <div class="homeContainer">
        <div class="homeContainerInner">
            <h1>
                Indian Languages
            </h1>
            <!-- <img src="{{ MEDIA_URL }}/1600x960_1014218-indian-languages.jpeg" /> -->
            </div>
        <div class="homeContainerInner">
            <ul id="homeLinksBox">
                {% for language in languages %}
                    <li>
                            <a href="{% url 'language:detail' language.slug %}">
                                {{ language.nameInNativeScript }}
                            </a>
                    </li>
                {% endfor %}
                <!-- <li>
                    മലയാളം
                </li>
                <li>
                    ಕನ್ನಡ
                </li>
                <li>
                    తెలుగు
                </li>
                <li>
                    हिन्दी
                </li>
                <li>
                    ଓଡ଼ିଆ
                </li> -->
            </ul>
        </div>
    </div>
{% endblock %}